
/* CSS styles for the rest of the page */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
}

header {
  position: sticky; 
  top: 0; 
  z-index: 1030; 
  width: 100%; 
  background-color: white;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(66, 66, 66, 0.24);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 10px;
  position: relative;
}

nav ul li a {
  color: #00000093;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

nav ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

nav ul li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

nav ul li a:hover {
  color: rgb(0, 0, 0);
}

.fixed-nav-bar { 

  background-color: #00a087;
 }


